<!doctype html>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<title>{% block title %}{% endblock %} - Blog Post 3</title>
<nav>
  <img src="/static/logo.png" style="margin: 0 auto;">
  <!-- <b>Navigation:</b> -->
  <ul>
    <li><a href="{{ url_for('submit_basic') }}">Submit a message</a></li>
    <li><a href="{{ url_for('view') }}">View messages</a></li>
  </ul>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% block content %}{% endblock %}
</section>
